<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" message="Are you sure you want to do this?" leftButtonLabel="Cancel" rightButtonLabel="OK" (leftButtonSelect)="dialog.toggle()" (rightButtonSelect)="dialog.toggle()" #dialog class="dialog">
  <igx-dialog-title>
    <h5>Confirmation</h5>
  </igx-dialog-title>
</igx-dialog>
<igx-list class="list">
  <igx-list-item [isHeader]="false" class="list-item">
    <span igxListThumbnail>
      <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar"></igx-avatar>
    </span>
    <span igxListLineTitle>User "One"</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon family="material" class="icon">star</igx-icon>
    </span>
  </igx-list-item>
  <igx-list-item [isHeader]="false" class="list-item">
    <span igxListThumbnail>
      <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar"></igx-avatar>
    </span>
    <span igxListLineTitle>User "Two"</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon family="material" class="icon">star</igx-icon>
    </span>
  </igx-list-item>
</igx-list>
